[submodule "src/github.com/coreos/flannel"]
	path = src/github.com/coreos/flannel
	url = https://github.com/coreos/flannel
[submodule "src/github.com/coreos/etcd"]
	path = src/github.com/coreos/etcd
	url = https://github.com/coreos/etcd
[submodule "src/github.com/tianon/cgroupfs-mount"]
	path = src/github.com/tianon/cgroupfs-mount
	url = https://github.com/tianon/cgroupfs-mount
